{% extends 'layout.html'%}
{% load crispy_forms_tags %}
{% block title%}
    Login
{% endblock %}
{% block content %}
<div class="container">
    <main class="py-4">
        <h1 class="h3 mb-3 fw-normal">Login</h1>
        <form 
        class="row g-3"
        action="/users/login/" 
        method="POST">
            {% csrf_token %}
            {{ form | crispy }}
            {% if request.GET.next %}
                <input type="hidden" name="next" value="{{ request.GET.next }}">
            {% endif %}
            <button type="submit" class="btn btn-dark me-2 w-100 py-2">Submit</button>
        </form>
    </main>
</div>   
{% endblock %}