{% extends 'layout.html'%}
{% load crispy_forms_tags %}
{% block title%}
    Register a New User
{% endblock %}
{% block content %}
    <main class="py-4">
        <h1 class="h3 mb-3 fw-normal">Register a New User</h1>
        <form 
        class="row g-1"
        action="/users/register/" 
        method="POST">
            {% csrf_token %}
            {{ form | crispy }}
            <button type="submit" class="btn btn-dark me-2 w-100 py-2">Submit</button>
        </form>
    </main>
{% endblock %}