{% extends 'layout.html'%}
{% block title%}
    Home
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col d-flex justify-content-center align-items-center">
            <div class="card mb-3 mt-3" style="max-width: 700px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{{ userprofile.profile_image.url }}" class="img-fluid rounded-start" alt="user profile image">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Welcome to @{{ userprofile }}'s profile!</h5>
                            <p class="card-text"><strong>First Name:</strong> {{ userprofile.user.first_name }}</p>
                            <p class="card-text"><strong>Last Name:</strong> {{ userprofile.user.last_name }}</p>
                            <p class="card-text"><strong>Email:</strong> {{ userprofile.user.email }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}