<!--home.html-->
{% extends 'layout.html'%}
{% block title%}
    Filtered Posts
{% endblock %}
{% block content %}
    <div class="container py-4">
        {% if query %}
            <h1 align="center"> Posts in the "{{ query }}" Category</h1>
        {% else %}
            <h1 align="center">All Posts</h1>
        {% endif %}
        <div class="row mb-2">
            <div class="container-fluid">
                <div class="row">
                    <p>Filter by Category:</p>
                </div>
                <div class="row">
                    <form class="d-flex" method="POST" action="{% url 'posts:filter-view' %}">
                        {% csrf_token %}
                        <select class="form-select me-2" name="select_query">
                            <option value="all">All</option>
                            {% for key, category in categories %}
                                <option value="{{ key }}">{{ category }}</option>
                            {% endfor %}
                        </select>
                        <button class="btn btn-outline-dark" type="submit">Filter</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="container-fluid">
                <form class="d-flex" role="search" method="POST" action="{% url 'posts:search-view' %}">
                    {% csrf_token %}
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search_query">
                    <button class="btn btn-outline-dark" type="submit">Search</button>
                </form>
            </div>
        </div>
        <div class="row" align="center">
            {% for post in posts %}
                <div class="col-xl-6 col-xxl-4 p-2">
                    <div class="card" style="width: 20rem; max-width: 100%;" align="start">
                        <img 
                        src="{{ post.banner.url }}" 
                        alt="Image description"
                        class="card-img-top"/>
                        <div class="card-body">
                            <h2 class="card-title">{{ post.title }}</h2>
                            <p class="card-text">{{ post.date }} by <strong>{{ post.author }}</strong> </p>
                            <p class="card-text">Category: <strong>{{post.get_category_display}}</strong></p>
                            <p class="card-text text-truncate">{{ post.body }}</p>
                            <a href="{% url 'posts:page' slug=post.slug %}" class="btn btn-dark">Read Full Article</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}