{% extends 'layout.html'%}
{% block title%}
    {{post.title}}
{% endblock %}
{% block content %}
    <section>
        <div class="container py-4">
            <div class="row">
                <div class="col">
                    <img 
                    src="{{ post.banner.url }}"
                    alt="Image description"
                    class="img-fluid rounded"/>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h1 align="center">{{post.title}}</h1>
                </div>
                <div class="row p-2">
                    <div class="col">
                        <p>{{post.body}}</p>
                    </div>
                </div>
                <div class="col" align="end">
                    <p>Posted on: <strong>{{post.date}}</strong></p>
                    <p>Written by: <strong><a href="{% url 'users:profile'  username=user.username %}">{{ post.author }}</a></strong></p>
                </div>
            </div>
        </div>  
    </section>
    
    <!-- Comments section -->
    <section>
        <h2 class="text-center">Comments</h2>
        {% for comment in comments %}
        <div class="comment">
            <p>{{comment.body}}</p>
            <p>Posted on: <strong>{{comment.date}}</strong></p>
            <p>Written by: <strong><a href="{% url 'users:profile'  username=comment.author.username %}">{{comment.author}}</a></strong></p>
            <img src="{{ comment.author.userprofile.profile_image.url }}" alt="user profile image" width="32" height="32" class="rounded-circle">
        </div>
        {% endfor %}
    </section>
{% endblock %}