{% extends 'layout.html'%}
{% block title%}
    {{post.title}}
{% endblock %}
{% block content %}
    <section>
        <div class="container py-4">
            <div class="col">
                <img 
                src="{{ post.banner.url }}" 
                alt="Image description"
                class="img-fluid rounded"/>
                <h1>{{post.title}}</h1>
                <p>{{post.date}}</p>
                <p>{{post.body}}</p>

            </div>
        </div>  
    </section>
{% endblock %}