#navbarToggler .nav-link {
    color: #fff;
}

#footer .nav-link {
    color: black;
}

#intro {
    background-image: url("");
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.mask {
    height: 100%;
}