<!--home.html-->
{% extends 'layout.html'%}
{% block title%}
    Home
{% endblock %}
{% block content %}
    <div class="container py-4 h-100 justify-content-center">
        <h1>Welcome!</h1>
        <p>
            Welcome to my project! I'm thrilled to be developing a platform where users can sign up, create articles, 
            and interact seamlessly. <br> This project was created using Django, a high-level Python web framework and
            Bootstrap, a popular front-end framework. <br> I hope you enjoy your stay here!
        </p>
    </div>
{% endblock %}