<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %} Articles Website {% endblock %}</title>
        {% load bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %}
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg sticky-top bg-dark navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Articles</a>
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarToggler"
                    aria-controls="navbarToggler"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggler">
                    <ul class="nav nav-underline">
                        <li class="nav-item">
                            <a class="nav-link" href="/about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contact">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'posts:all_posts' %}">Posts</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">New Post</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <main>{% block content %} {% endblock %}</main>
        <div class="container fixed-bottom">
            <footer class="py-3 my-4 bd-footer ">
                <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                    <li class="nav-item">
                            <a class="nav-link px-2 text-body-secondary" href="/about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link px-2 text-body-secondary" href="/contact">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link px-2 text-body-secondary" href="{% url 'posts:all_posts' %}">Posts</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link px-2 text-body-secondary" href="#">New Post</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link px-2 text-body-secondary" href="#">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link px-2 text-body-secondary" href="#">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link px-2 text-body-secondary" href="#">Logout</a>
                        </li>
                </ul>
                <p class="text-center text-body-secondary">&copy; 2024 Aleandro Presta</p>
            </footer>
        </div>

    </body>
</html>
